</div>

<div class="container text-center welcome">
  <h1>Welcome to CoolPups</h1>
  <h3>We make your pups look really cool</h3>
  <%= link_to "Click to shop", shop_path, class: "btn btn-lg btn-success" %>
</div>

<div class="container">