</div>

<div class="jumbotron">
  <div class="container text-center">
    <h1>HELLO!</h1>
    <%= link_to "Buy Our Stuff!", shop_path, class: "btn btn-lg btn-success" %>
  </div>
</div>

<div class="container"></div>