<!-- search bar -->
<%= render 'search_form' %>

<% if params[:category_id] %>
  <h3>All <%= @category.name.titleize %></h3>
<% else %>
  <h3>All Products</h3>
<% end %>
<div class="row">
 <%= render @products %>
</div>


