<h1>Welcome to the store!</h1>


<% if params[:category_id] %>
  <h3>All <%= @category.name.titleize %></h3>
<% else %>
  <h3>All Products</h3>
<% end %>
<div class="row">
 <%= render @products %>
</div>


