/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

/* Colors */
$lightblue: #4ECDC4;
$darkblue: #1A535C;
$offwhite: #F7FFF7;
$yellow: #F0CE4F;
$red: #FF6B6B;

/* Fonts */
$bodyfont: 'Lato', sans-serif;

.navbar {
  background-color: $darkblue;
  border-radius: 0px;
  border:none;
}

.navbar-inverse .navbar-nav > li > a {
  color: $offwhite;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #ADB2AD;
}

body{
  background-color: $lightblue;
  font-family: $bodyfont;
}

.carousel-inner > .item > a > img {
    margin: 0 auto;
}

.carousel-inner > .item > a {
    margin: 0 auto;
}

.panel {
  background-color: $offwhite;
}

.modal-content{
  background-color: $offwhite;
}

#info_button {
  background-color: $yellow;
  border: 1px $yellow solid;
}

#info_button:hover {
  background-color: #B2A14C;
  border: 1px #B2A14C solid;
}

#search_button{
  background-color: $red;
  border: 1px $red solid;
}

#search_button:hover{
  background-color: #CC5555;
  border: 1px #CC5555 solid;
}

.prices {
  color: $red;
  font-weight: 700;
}

.jumbotron {
  margin-top: -20px;
}